/*======== GOOGLE FONTS ========*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS ========*/

:root {
  --header-hight: 3rem;

  /*======= Colors ========*/
  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;

  /*====== Font and Typography =========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*======== Font weight =======*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========= Margins ==========*/

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*======== Z index =========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========= BASE ===============*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*============ Variables Dark Theme =============*/

body.dark-theme {
  --first-color-send: #161212;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #251d1e;
  --container-color: #302728;
}

/*================== Button Dark/Light ================*/

.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-hight) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}
